<div></div>
<%= form_for @bit, url: {action: "create"} do |f| %>
  <%= f.text_area :content, size: "30 x8" %>
  <%= collection_select(:bit, :post_id, Post.all, :id, :title) %>
  <%= f.submit "Save" %>
<% end %>




